/* 通用样式 */
*,::before, ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* 去掉点击高亮效果 */
	-webkit-tap-highlight-color: transparent;
	font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
/* input去掉默认样式 */
input {
	border: none;
	-webkit-appearance: none;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
.f_l {
	float: left;
}
.f_r {
	float: right;
}
.clearfix::before, .clearfix::after {
	content: '';
	display: block;
	height: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
}
.b_l {
	border-left: 1px solid #ddd;
}
.b_r {
	border-right: 1px solid #ddd;
}
.b_t {
	border-top: 1px solid #ddd;
}
.b_b {
	border-bottom: 1px solid #ddd;
}