.j_ad {
    background: black; 
}
.j_ad .w {
    height: 80px;
    position: relative;
    background: url(https://img13.360buyimg.com/da/jfs/t7846/91/4120906838/83704/621cd8da/59e418acN6fcd9851.jpg) no-repeat;
}
.ad_close{
    font-size: 20px;
    line-height: 20px;
    color:gainsboro;
    display: block;
    position: absolute;
    width: 20px;height: 20px;
    top: 0;right: 0;
    cursor: pointer;
}

header{
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
    color: #999;
}
header .w {
    height: 30px;
    line-height:  30px;
}
.w .dt {
    margin-left: 184px;
}
.cityChose {
    display: inline-block;
    height: 100%;
    width: 60px;
    border: 1px solid transparent;
    position: relative;z-index: 2;
}
.cityChose:hover {
    background:white;
    border: 1px solid #ddd;
    border-bottom:none;
    position: relative;
}
.cityChose:after{
    content:"";
    position: absolute;
    width:100%;height:1px;
    background: white;
    top:98%;
    left:0;
}
.dt .dd {
    width: 300px;position: absolute;
    padding: 10px 0;
    top: 31px;left: 0;
    outline:1px solid #ddd;
}
.dt:hover .dd {
    display: block;
}
.dd .item {
    float: left;
    width: 60px;
    cursor: pointer;  
}
.item.selected {
    background: red;
    color:white;
}

.nav li {
    display: inline-block;
    padding: 0 5px;
    height: 100%;
}
.my_jd,.service,.other_website{
    border: 1px solid transparent;
}
.my_jd:hover,.service:hover,.other_website:hover {
    background: white;
    border: 1px solid #e3e4e5;
}

